@model IndieRadar.Web.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>
@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationMessage("")
    <p>Enter your login: </p>
    @Html.TextBoxFor(u => u.UserName)
    @Html.ValidationMessageFor(u => u.UserName)
    <p>Enter password: </p>
    @Html.PasswordFor(u => u.Password)
    @Html.ValidationMessageFor(u => u.Password)
    <p>Remember ?</p>
    @Html.CheckBoxFor(u => u.RememberMe)
    <input type="submit" value="Отправить" />
}
