@model IndieRadar.Web.ViewModels.RegisterClientViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <p>Enter your first name: </p>
    @Html.TextBoxFor(client => client.FirstName)
    @Html.ValidationMessageFor(v => v.FirstName)
    <p>Enter your last name: </p>
    @Html.TextBoxFor(client => client.LastName)
    @Html.ValidationMessageFor(v => v.LastName)
    <p>Enter your email: </p>
    @Html.TextBoxFor(client => client.Email)
    @Html.ValidationMessageFor(v => v.Email)
    <p>Enter password: </p>
    @Html.PasswordFor(client => client.Password)
    @Html.ValidationMessageFor(v => v.Password)
    <p>Confirm password: </p>
    @Html.PasswordFor(client => client.ConfirmPassword)
    @Html.ValidationMessageFor(v => v.ConfirmPassword)
    <p>Enter your login:</p>
    @Html.TextBoxFor(client => client.UserName)
    @Html.ValidationMessageFor(v => v.UserName)
    <input type="submit" value="Зарегистрироваться" />
}

