
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <p>Enter your first name: </p>
    @Html.TextBox("FirstName")
    <p>Enter your last name: </p>
    @Html.TextBox("LastName")
    <p>Enter your email: </p>
    @Html.TextBox("Email")
    <p>Enter password: </p>
    @Html.Password("Password")
    <p>Confirm password: </p>
    @Html.Password("ConfirmPassword")
    <p>Enter your login:</p>
    @Html.TextBox("UserName")
    <input type="submit" value="Отправить" />
}

